<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>triFTP</display-name>
    <servlet>
        <servlet-name>triFTP</servlet-name>
        <servlet-class>com.trideveloper.ftp.FtpServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>triFTP</servlet-name>
        <url-pattern>/ftp</url-pattern>
    </servlet-mapping>
</web-app>
